<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    {{!-- removes any favicon errors from DevTools --}}
    <link rel="shortcut icon" href="">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>Can Has Tech?</h1>
        {{#if loggedIn}}
        <p class="welcome" id="custom-welcome"><span>Welcome, </span><span style="color: wheat">{{blogReader}}</span><span>! Don't miss what's happening.</span></p>
        {{else}}
        <p class="welcome" id="standard-welcome">Welcome, Techie! Don't miss what's happening.</p>
        {{/if}}
    </header>
    <nav>
        <button class="btn"><a href="/">Home</a></button>
        {{#if loggedIn}}
        <button class="btn"><a href="/{{blogReader}}">My Dashboard</a></button>
        <button class="btn" id="logout">Log Out</button>
        {{else}}
        <button class="btn" id="login"><a href="/login">Log In</a></button>
        {{/if}}
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>Thank you for your contributions!</footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>