{{log blog}}
{{!-- displays edit/delete when username matches page author --}}
{{#if (usernameMatch blogReader blogAuthor)}}
<section>
    <button class="btn" id="edit-blog">Edit</button>
    <button class="btn" id="delete-blog">Delete</button>
</section>
{{/if}}
{{!-- displays one full blog --}}
<section class="blog-post">
    <div class="blog-details">
        <h3>{{blog.title}}</h3>
        <p>By: {{blog.user.username}}</p>
        <p>{{format_time blog.date_created}}</p>
        <p>{{blog.text_content}}</p>
    </div>
</section>
<section class="comments">
    <h4>Comments!</h4>
    {{#if blog.comments.length}}
    {{#each blog.comments}}
    <div>
        <p id="comment-username">{{user.username}}</p>
        <p id="comment-text">{{text_content}}</p>
    </div>
    {{/each}}
    {{else}}
    <div>
        <p>Consider adding the first comment!</p>
    </div>
    {{/if}}
</section>