{{!-- displays one full blog --}}
<section class="blog-post" id="{{blog.id}}">
    <div class="blog-details">
        <h3>{{blog.title}}</h3>
        <span class="user" id="{{blog.user.username}}">By: {{blog.user.username}}</span>
        <span>{{format_time blog.date_created}}</span>
        {{#if (blogMatch blogReader blogAuthor)}}
        <p contenteditable="true">{{blog.text_content}}</p>
        {{else}}
         <p contenteditable="false">{{blog.text_content}}</p>
        {{/if}}       
    </div>
</section>

{{!-- displays edit/delete blog options for page author --}}
{{#if (blogMatch blogReader blogAuthor)}}
<section class='buttons'>
    <button class="btn" id="edit-blog">Save Changes</button>
    <button class="btn" id="delete-blog">Delete Blog</button>
</section>
{{/if}}

{{!-- displays all comments for this post --}}
<section class="comments">
    <h4>Comments!</h4>
    {{!-- if the post has comments, render them --}}
    {{#if blog.comments.length}}
        {{#each blog.comments}}
        <hr class="dotted">
        <div class="comment-post comment-user-id" id="{{user_id}}">
            <p contenteditable="true" onChange="editMyComment()" id="comment-text">{{text_content}}</p>
            <span class="comment-username" id="{{user.username}}">By: {{user.username}}</span>
            <span class="comment-date" id="{{id}}">on {{format_time date_created}}</span>
            {{!-- if the reader wrote THIS comment, allow edit/delete --}}
            {{#if (commentMatch ../blogReader user.username)}}
            <div class="buttons">
                <button class="btn edit-comment comment-id" id="{{id}}">Save Changes</button>
                <button class="btn delete-comment comment-id" id="{{id}}">Delete Comment</button>
            </div>
            {{/if}}
        </div>
        {{/each}}
    {{else}}
        {{!-- readers other than the blog author are invited to add a first comment if none are present --}}
        {{#if (addCommentMatch blogReader blogAuthor)}}
    <div>
        <p>Consider adding the first comment!</p>
    </div>
        {{else}}
    <div>
        <p>Check back later for new comments!</p>
    </div>
        {{/if}}
    {{/if}}
</section>
<section class="add-comment">
    {{!-- if the reader didn't write this blog, they can add a comment --}}
    {{#if (addCommentMatch blogReader blogAuthor)}}
    <div>
        <form class="comment-form" id="{{userId}}">
            <div>
                <label for="new-comment-text">Add Comment:</label>
                <textarea class="new-comment" type="text" id="new-comment-text"></textarea>
                <button class="btn" type="submit" id="add-comment">Reply</button>
            </div>
        </form>
    </div>
    {{/if}}
</section>

{{!-- if the reader wrote this blog, they have the choice to edit or delete it --}}
{{#if (blogMatch blogReader blogAuthor)}}
<script src="/assets/js/editDeleteBlog.js"></script>
{{!-- if the reader did not write the blog, they have the choice to add a comment --}}
{{else}}
<script src="/assets/js/addComment.js"></script>
{{/if}}
{{!-- if the reader wrote any of the comments on the page, they have the choice to edit or delete their own comments --}}
{{#if (hasNoComments blog.comments.length blogReader blog.comments)}}
<script src="/assets/js/editDeleteComment.js"></script>
{{/if}}