{{!-- displays edit/delete when username matches page author --}}
{{!-- {{log commentAuthor}}
{{log blogReader}} --}}
{{#if (blogMatch blogReader blogAuthor)}}
<section>
    <button class="btn" id="edit-blog">Edit</button>
    <button class="btn" id="delete-blog">Delete</button>
</section>
{{/if}}
{{!-- displays one full blog --}}
<section class="blog-post">
    <div class="blog-details">
        <h3>{{blog.title}}</h3>
        <p>By: {{blog.user.username}}</p>
        <p>{{format_time blog.date_created}}</p>
        <p>{{blog.text_content}}</p>
    </div>
</section>
{{!-- displays all comments for this post --}}
<section class="comments">
    <h4>Comments!</h4>
    {{!-- <div>
        <button class="btn" id="add-comment">Add a Comment</button>
    </div> --}}
    {{#if blog.comments.length}}
        {{#each blog.comments}}
        {{log this}}
        <div>
            <span id="comment-username">By: {{user.username}}</span>
            <span id="comment-date">on {{format_time date_created}}</span>
            <p id="comment-text">{{text_content}}</p>
            {{!-- IF not working as expected: reads the first value then applies first value to each comment --}}
            {{#if (commentMatch ../blogReader user.username)}}
            <div>
                <button class="btn" id="edit-comment">Edit Comment</button>
                <button class="btn" id="delete-comment">Delete Comment</button>
            </div>
            {{/if}}
        </div>
        {{/each}}
    {{else}}
    <div>
        <p>Consider adding the first comment!</p>
    </div>
    {{/if}}
    {{#if (addCommentMatch blogReader blogAuthor)}}
    <div>
        <form>
            <div>
                <label>Comment:</label>
                <input class="new-comment" type="text">
                <button class="btn" id="comment-reply">Reply</button>
            </div>
        </form>
    </div>
    {{/if}}
</section>