<section>
    <form class="new-blog-form">
        <div>
            <label for="new-blog-title">Title:</label>
            <input class="new-blog" type="text" id="new-blog-title">
        </div>
        <div>
            <label for="new-blog-text">Post:</label>
            <input class="new-blog" type="text" id="new-blog-text">
        </div>
        <div>
            <button class="btn" type="submit" id="new-blog">Post New Blog!</button>
        </div>
    </form>
</section>
<section>
    {{#if (hasNoBlogs dashboard.blogs.length)}}
    <h2>Consider adding your first post!</h2>
    {{else}}
    <h2>Blog Posts by {{dashboard.username}}</h2>
    {{!-- each blog title links to a user's blog by ID --}}
    {{#with dashboard}}
        {{#each blogs}}
        <hr class="dotted">
        <div>
            <a href="{{../username}}/blogs/{{id}}"> 
            <h3>{{title}}</h2>
            </a>
            <span>posted on {{format_time date_created}}</span>
        </div>
        {{/each}}
    {{/with}}
    {{/if}}
</section>
<script src="./js/blogManager.js"></script>