<section>
    {{!-- button links to new blog post page --}}
    <div>
        <button><a href="/new-post">Add New Blog Post</a></button>
    </div>
    {{!-- {{#if dashboard.length}} --}}
    <h2>Blog Posts by {{dashboard.username}}</h2>
    {{!-- each blog title links to a user's blog by ID --}}
    {{#with dashboard}}
        {{#each blogs}}
        <div>
            <a href="{{../username}}/blogs/{{id}}"> 
            <h3>{{title}}</h2>
            </a>
            <span>posted on {{format_time date_created}}</span>
        </div>
        {{/each}}
    {{/with}}
    {{!-- {{else}}
    <h2>Consider adding your first post!</h2>
    {{/if}} --}}
</section>