<section>
    <h2>Top Posts</h2>
    <div>
        {{!-- each blog title links to a user's blog by ID --}}
        {{#each home}}
        <hr class="dotted">
        <a href="{{user.username}}/blogs/{{id}}"> 
            <h3>{{title}}</h2>
        </a>
        <span>{{user.username}}</span>
        <span>posted on {{format_time date_created}}</span>
        {{/each}}
    </div>
</section>